.listContainer {
  width: 95%;
  overflow: auto;
}

thead,
tbody {
  display: table;
  width: 100%;
  table-layout: fixed;
  text-align: left;
}
th,
td {
  padding: 0.8rem;
}
th {
  font-size: 1.2rem;
}

tbody img {
  border-radius: 50%;
  -webkit-user-drag: none;
}

.pagination {
  width: fit-content;
  display: flex;
  margin: 15px auto;
}

.pageNumber,
.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 5px;
  height: 2rem;
  width: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  /* color: rgb(250, 226, 180); */
  color: rgb(174, 196, 202);
}

.pagination svg {
  display: flex;
}

.pageNumber a:hover {
  color: rgb(255, 199, 77);
}
.active {
  background-color: orange;
  border-radius: 50%;
  color: rgb(255, 255, 255);
}

.left:hover,
.right:hover {
  color: orange;
  transform: scale(0.85);
  transition: 0.2s;
}

@media screen and (max-width: 1200px) {
  .listContainer {
    width: 100%;
  }
  table {
    width: 800px;
  }
}

@media screen and (max-width: 768px) {
  .listContainer {
    height: 225px;
    width: 100%;
  }
}
