.cardContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 24px 107px -36px #00000054;
  border-radius: 2.9rem;
  padding: 35px 15px;
  width: 300px;
  font-weight: bold;
  background-color: white;
}
.cardContent > * {
  margin: 5px;
}
.cardContent img {
  border-radius: 50%;
  -webkit-user-drag: none;
}

.cardContent button {
  background-color: orange;
  padding: 10px 15px;
  width: 180px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}
.middleSection {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  width: 90%;
}

.bottomSection {
  display: flex;
}

.bottomSection div:first-child {
  border-right: 1px solid rgb(180, 180, 180);
}

.bottomSection div {
  padding: 0px 15px;
}
.bottomSection span {
  font-size: 1.5rem;
}
.bottomSection p {
  font-size: 0.8rem;
}

.secondaryColor {
  font-weight: normal;
  color: grey;
}

.progressBar {
  width: 100%;
  height: 10px;
  overflow: hidden;
  border-radius: 20px;
}

.progressBar::-webkit-progress-value {
  background-color: orange;
}

.progressBar::-webkit-progress-bar {
  background-color: rgba(243, 177, 90, 0.5);
}
.name {
  position: relative;
}
sup {
  font-size: 2.5rem;
  position: absolute;
  top: -130.5%;
}

#active {
  color: green;
}
#inactive {
  color: rgb(241, 81, 81);
}

@media screen and (max-width: 1200px) {
  .cardContainer {
    justify-content: flex-end;
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .cardContainer {
    width: 100%;
  }
  .cardContent {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .cardContainer {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
  }
}
