select{
    border: none;
    outline: 1px solid #d1d5db;
    border-right:5px solid transparent ;
    border-radius: 5px;
    background-color: aliceblue;
    width: 110px;
    padding: 10px;
    cursor: pointer;
}

#active{
    color: rgb(22, 160, 56);
    font-weight: bold;
}
#owner{
    font-weight: bold;
}
