@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* custom CSS */
.main-container {
  background-color: #e1e1e1;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-drag: none;
  user-select: none;
  cursor: default;
}

.container {
  width: 65%;
  height: 700px;
  display: flex;
  background-color: white;
  position: relative;
}

@media screen and (max-width: 768px) {
  .main-container {
    overflow: auto;
  }
  .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .container {
    width: 100%;
  }
}
